.nav {
    background-color: white;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 19.5rem;
}

.loading {
    text-align: center;
}